body {
    font-family: 'Josefin Sans', sans-serif;
    background-color: #f5e6ff;
    margin: 0;
    padding: 20px;
    color: #333;
}

.container {
    max-width: 800px;
    width: 95%;
    margin: auto;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    justify-content: center;
}

h1 {
    color: #8a2be2;
    text-align: center;
    font-size: 2.2rem;
    margin-bottom: 20px;
    font-weight: 700;
}

/* Input Section */
.input {
    width: 150px;
    padding: 10px;
    
    font-size: 1.1rem;
    text-align: center;
    border: 2px solid #ba68c8;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
}
.btn{
 background-color: #9c27b0;
    color: white;
    border: none;
    cursor: pointer;
     margin: 20px auto;
     padding: 12px 25px;
     border-radius: 10px;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     font-size: 15px;
}
.btn2{
    background-color: #9c27b0;
    color: white;
    border: none;
    cursor: pointer;
    margin: 20px auto;
    padding: 12px 25px;
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    outline: none;
}
.text{
    text-align: center;
    font-size: 1.2rem;
    color: #6b3aa8;
    margin-top: 20px;
     font-family: 'Josefin Sans', sans-serif;
     
}
 


.btn:hover {
    background-color: #7b1fa2;
}

/* Message Box */
.message-container {
    background-color: #f3e5f5;
    padding: 20px;
    border-radius: 10px;
    margin-top: 30px;
    border-left: 5px solid #9c27b0;
    font-family: Arial, Helvetica, sans-serif;
}

.message-text {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #4a148c;
}

 

/* Mobile Responsive */
@media (max-width: 600px) {
    .container {
        padding: 20px;
    }

    h1 {
        font-size: 1.8rem;
    }

    .input-number {
        width: 100%;
    }

   
    .btn {
        width: 100%;
    }

    .message-text {
        font-size: 1rem;
    }
}
